@model  LeagueMVC.ViewModels.League.IndexViewModel

    <h1>User Data</h1>

    <p> @Model.Introduction </p><br />

    @if (Model.User != null)
    {
    <hr />

    <h2>Username</h2>

    <p> @Model.User.Username </p><br />

    <h2>User ID</h2>

    <p> @Model.User.UserID </p><br />

    }

